:root {
  margin: 0;
  padding: 0;
  --primary-color: #85144b;
  --secondary-color: #969494;
  --third-color: #000000;
  --text-size: 4rem;
  --text-size-1: 2rem;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-style: Georgia, Times, "Times New Roman", serif;
}
body {
  display: flex;
  flex-direction: column;
  border-style: groove;
  border: 4px;
  padding: 1rem;
  background: var(--secondary-color);
}

/* Nav bar */
.topnav {
  margin: 0;
  overflow: wrap;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  gap: 30rem;
}

.topnav a:hover {
  background-color: #8d4747;
  color: black;
}

.topnav a.active {
  background-color: #0f2188;
  color: white;
}
/* heading */
header {
  position: absolute;
  left: 30%;
  background: var(--primary-color);
}
.front-title {
  background: var(--primary-color);
  font-size: var(--text-size);
  margin: 4rem 30rem;
}

/* date css */
.current {
  position: relative;
  right: -80%;
  margin: 0;
  color: aliceblue;
  float: right;
}

.tutor video {
  max-width: 100%;
  min-height: 6rem;
}

.benefit {
  position: relative;
  display: table-column;
}
.lists {
  list-style: none;
  margin: auto;
}

@media screen and (max-width: 990px) {
  header {
    position: absolute;
    left: 10%;
  }

  .front-title {
    background: var(--primary-color);
    font-size: 3rem;
    margin: 4rem 30rem;
  }

  .current {
    position: relative;
    right: -60%;
    margin: 0;
    color: aliceblue;
    float: right;
  }

  .tutor video {
    max-width: 100%;
    min-height: 6rem;
  }
}
